<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <%= link_to "Check Ozone", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li><a href="https://www.airnow.gov">Go To Official Home Page</a></li>
      </ul>

      <%= form_tag zipcode_path, :method => 'POST' do %>
        <div class="form-inline my-2 my-lg-0">
        <%= text_field_tag 'zipcode', nil, placeholder: " Search Zipcode", class: "form-control mr-sm-2" %>
        <%= submit_tag 'Search', class: 'btn btn-outline-secondary my-2 my-sm-0' %>
        <% end %>
        </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>